
.main-wrapper {
    margin: 0 auto;
    width: 1000px;
}

a{
    text-decoration: none;
}

body {
    background: white;
}

header nav {
    width: 100%;
    height: 60px;
    background: darkgreen;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
    list-style: none;
}

header nav ul li a {
    font-family: Arial, serif;
    float: left;
    margin-left: -150px;
    padding: 0 90px;
    font-size: 15px;
    color: white;
    line-height: 30px;
}

header .nav-login {
    float: right;
}

header .nav-login form {
    float: left;
    padding-top: 15px;
}

header .nav-login form input {
    float: left;
    width: 140px;
    height: 30px;
    padding: 0 10px;
    margin-right: 10px;
    border: none;
    background: white;
    font-family: Arial, serif;
    font-size: 14px;
    line-height: 30px;

}

header .nav-login form button {
    width: 60px;
    height: 30px;
    padding: 0 10px;
    background: #ccc;

}

header .nav-login a {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: -50px;
    padding: 0 10px;
    border: none;
    float: left;
    background: darkgreen;
    font-family: Arial, serif;
    font-size: 15px;
    color: white;
    line-height: 60px;
    cursor: pointer;
}

.events-form input {
    width: 45%;
    height: 40px;
    padding: 0 5%;
    margin-bottom: 4px;
    margin-left: 220px;
    border: 1px solid #cccccc;
    background: white;
    font-family: arial, serif;
    font-size: 16px;
    line-height: 40px;
}

.events-form button {
    display: block;
    width: 30%;
    height: 40px;
    border: none;
    margin-left: 220px;
    background: grey;
    font-family: arial,serif;
    font-size: 16px;
    cursor: pointer;
}

.main-wrapper  h2 {
    font-family: Arial, serif;
    font-size: 30px;
    text-align: center;
    color: darkgrey;
    line-height: 30px;
}